:root{
    /* ---COLORS--- */

    /* Neutral */
    --neutral-900: hsl(227, 75%, 14%);
    --neutral-800: hsl(226, 25%, 17%);
    --neutral-700: hsl(225, 23%, 24%);
    --neutral-600: hsl(226, 11%, 37%);
    --neutral-300: hsl(0, 0%, 78%);
    --neutral-200: hsl(217, 61%, 90%);
    --neutral-100: hsl(0, 0%, 93%);
    --neutral-0:   hsl(200, 60%, 99%);

    /* Primary Color  */
    --red-400: hsl(3, 86%, 64%);
    --red-500: hsl(3, 71%, 56%);
    --red-700: hsl(3, 77%, 44%);

    /* Gradient */
    --grad-light: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
    --grad-dark:  linear-gradient(180deg, #040918 0%, #091540 100%);

    /* ---TYPOGRAPHY--- */
    --font-main: 'Noto Sans', sans-serif;
    --fw-reg: 400;
    --fw-med: 500;
    --fw-bold: 700;
}

    /*  ---RESET & GLOBALSTYLES--- */
    *{
        box-sizing:border-box;
        margin: 0;
        padding: 0;
    }
    
    body{
        font-family: var(--font-main);
        font-size: 16px;
        background-color: var(--neutral-100);
        color: var(--neutral-900);
        line-height: 1.5;
    }

    /* ---UTILITY--- */
    .container{
        width: 100%;
        max-width: 1440px; /*Desktop*/
        margin: 0 auto;
        padding: 0 20px; /*Mobiel*/
    }