:root{
    /* ---COLORS--- */

    /* Neutral */
    --neutral-900: hsl(227, 75%, 14%);
    --neutral-800: hsl(226, 25%, 17%);
    --neutral-700: hsl(225, 23%, 24%);
    --neutral-600: hsl(226, 11%, 37%);
    --neutral-300: hsl(0, 0%, 78%);
    --neutral-200: hsl(217, 61%, 90%);
    --neutral-100: hsl(0, 0%, 93%);
    --neutral-0:   hsl(200, 60%, 99%);

    /* Primary Color  */
    --red-400: hsl(3, 86%, 64%);
    --red-500: hsl(3, 71%, 56%);
    --red-700: hsl(3, 77%, 44%);

    /* Gradient */
    --grad-light: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
    --grad-dark:  linear-gradient(180deg, #040918 0%, #091540 100%);

    /* ---TYPOGRAPHY--- */
    --font-main: 'Noto Sans', sans-serif;
    --fw-reg: 400;
    --fw-med: 500;
    --fw-bold: 700;

    /* ---SEMANTIC--- */
    /* Light mode */
    --bg-body: var(--grad-light);
    --bg-card: var(--neutral-0);
    --text-main: var(--neutral-900);
    --text-sub: var(--neutral-600);
    --boder: var(--neutral-300);
    --shadow: 0 4px 12px rgba(0,0,0,0.1);
}

    /* Dark mode */
    body.dark-mode{
        --bg-body: var(--grad-dark);
        --bg-card: var(--neutral-800);
        --text-main: var(--neutral-100);
        --text-sub: var(--neutral-300);
        --boder: var(--neutral-700);
        --shadow: 0 4px 12px rgba(0,0,0,0.5);
    }

    /*  ---RESET & GLOBALSTYLES--- */
    *{
        box-sizing:border-box;
        margin: 0;
        padding: 0;
    }
    
    body{
        font-family: var(--font-main);
        font-size: 16px;
        line-height: 1.5;

        background: var(--bg-body);
        color: var(--text-main);
        transition: background 0.3s, color 0.3s;
        min-height: 100vh;
    }

    /* ---UTILITY--- */
    .container{
        width: 100%;
        max-width: 1440px; /*Desktop*/
        margin: 0 auto;
        padding: 0 20px; /*Mobiel*/
    }


    /* ---COMPEONENT--- */
    .main-header{
        
    }